# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db


# ===================================================

# Ingore all generated and third party binaries
# Each developer should maintain his own binaries
# If third-party binaries change, developers are
# responsible for informing other developers.

[Bb]in/
[Dd]ebug*/
[Oo]bj/
[Rr]elease/

# ===================================================

# Ignore all test results folders
# Each developer should run his own tests

TestResults/

# ===================================================

# Ignore all .SUO files
# Each developer should have his own

*.suo
*.sln.docstates.suo

# ===================================================

#Ignore files created by Visual Studio
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.bak
*.cache
*.ilk
*.sbr
_ReSharper*/

# ===================================================

# Ignore log files
error_log